
{% extends 'talks/base.html' %}

{% block content %}
<!-- .header-bottom-wrapper -->
<div class="header-bottom-wrapper">
    <div class="container">
        <div class="row">
            <!-- Page Head -->
            <div class="page-head col-lg-12">
                <h2 class="page-title">Talks</h2>
            </div>
            <!-- End Page Head -->
        </div>
    </div>
</div><!-- End of .header-bottom-wrapper -->

<div class="page-container container">

        <div class="row">
<div class="row post-grid-2-col">

{% for talk in talks %}

    <div class="col-lg-4 col-md-6  col-sm-6  col-xs-6">
<br>
<header>
<h3 class="post-title" style="white-space: nowrap; overflow: hidden;"><a href="{% url 'talk_part' pk=talk.pk %}" title = "{{talk.topic}}"  >{{talk.topic}}</a></h3>

                            <div class="post-meta clearfix">

                                <span>By</span> <a rel="author" title="Speaker" href="#">{{talk.speaker}}</a>

                                    <br>
                                <span class="date"> {{talk.date_and_time}}</span>
                                  <br>
                                <span class="category">in <a title="Venue" href="#">{{talk.venue}}</a></span>

                            </div><!-- end of post meta -->

                        </header>

<figure>
<br>
                            <a title="{{talk.speaker}}" href="#">

<img src="{{ talk.image.url }}" class="candidate-image wp-post-image" alt="{{talk.speaker}}" width="354px" height="200px" />

       </a>

                        </figure>





<a class="read-more" href="{% url 'talk_part' pk=talk.pk %}">...Read </a>


                </div>


{% endfor %}
</div>
</div>
</div>


{% endblock %}
